body {
    font-family: Arial, sans-serif;
    text-align: center;

}
.graphs {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 50px;
}
.graphs div {
    flex: 1 0 400px;
}
.control input, .control button {
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}
.control input[type=button]:hover, .control button[type=button]:hover {
    background-color: black;
    color: white;
}